/* asterisk is a selector and is applied to all elements in HTML*/

/*dot is a class selector*/
body {
  background: url("monterey.jpg");
  max-width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 background-repeat: no-repeat;
}

.headingBackground {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  width: 600px;
  height: 400px;
  border-radius: 15px;
  background: rgb(20, 28, 31, .35);
}

h1 {
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
    position: relative;
    margin: auto;
    padding-right: 60px;
    text-align: center;
    padding-top: 10px;
    color: rgb(255, 255, 255);
    padding-left: 50px;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    font-weight: 100;
    line-height: 58px;
}

h2 {
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
    position: relative;
    margin: auto;
    padding-right: 60px;
    text-align: center;
    padding-top: 10px;
    color: rgb(255, 255, 255);
    padding-left: 50px;
    font-family: 'Lato', sans-serif;
    font-size: 26px;
    font-weight: 300;
    line-height: 58px;
}

p {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
  position: relative;
  margin: auto;
  text-align: center;
  padding-top: 10px;
  color: rgb(255, 255, 255);
  padding-left: 50px;
  font-size: 25px;
  line-height: 1.2;
  font-family:gabriola;
}

#intro {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
  position: relative;
  margin: auto;
  text-align: center;
  padding-top: 10px;
  color: rgb(255, 255, 255);
  padding-left: 50px;
  font-size: 25px;
  line-height: 1.2;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.navbar a {
    float: right;
    color: #000000;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
.navbar a:hover {
    color: rgb(119, 119, 119);
}

.navLinks {
  padding-top: 10px;
  padding-right: 40px;
  font-weight: 100;
}

@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
  }
}